h1 {
    color: blueviolet;
}

button {
    height: 40px;
}

hr {
    border-width: 0;
    height: 1px;
    background-color: black;
    width: 25%;
    margin-top: 20px;
    margin-bottom: 20px;
}

th {
    padding: 15px 50px;
}

td {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

div,
button,
.start-page,
#ranking-list,
#history-table,
#switch-connection-btn {
    margin: auto;
}

h2,
th,
#game-page,
#ranking-div {
    text-align: center;
}

.start-page,
.game-page,
#start-page {
    display: block;
}

.hand-btn {
    display: inline-block;
    width: 8.33%;
    margin-top: 20px;
    margin-bottom: 30px;
}

#name-label {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 37.5%;
}

#name-label,
#player-name-input {
    display: inline-block;
}

#start-game-message,
#back-to-start-btn {
    display: flex;
    margin-left: 37.5%;
}

#switch-connection-btn {
    width: 25%;
    height: 50px;
}

#history-table {
    display: table;
}

#computer-hand-div {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;
    width: 7%;
    height: 20px;
}

#history-table tr:nth-child(even) {
    background-color: aliceblue;
}

#history-table tr:nth-child(odd) {
    background-color: white;
}

#game-page {
    align-content: center;
    display: none;
}
