h1 {
    color: blueviolet;
}

.start-page {
    display: block;
}

.hand-btn {
    display: none;
}

.game-page {
    display: none;
}

#computer-hand-div {
    border: 1px solid black;
    padding: 10px;
    width: 50px;
    height: 20px;
}

th {
    padding: 50px;
}

#switch-to-server-btn {
    display: block;
}

#switch-to-local-btn {
    display: none;
}
